* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: sans-serif;
    background-color: #FAF8FF;
    color: #000;
}


.wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}

/* Header Styles */
header {
    background-color: #E6F0FF;
}

.header-wrapper {
    justify-content: space-between;
}

/* Navigation Styles */
li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

.navigation-section .nav-link {
    position: relative;
    color: #0D3B40;
}

.navigation-section .nav-link::after,
.navigation-section .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
}

.navigation-section .nav-link::after {
    width: 100%;
    height: 95%;
    border-top: 2px solid #fe68ae;
    border-bottom: 2px solid #fe68ae;
    transform: scale(0, 1);
    transform-origin: left;
}

.navigation-section .nav-link::before {
    width: 97%;
    height: 100%;
    border-left: 2px solid #fe68ae;
    border-right: 2px solid #fe68ae;
    transform: scale(1, 0);
    transform-origin: bottom;
}

.navigation-section .nav-link:hover::after,
.navigation-section .nav-link:hover::before {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
}

/* Header Link Styles */
.header-content a {
    padding: 10px;
    font-size: 16px;
    color: #0D3B40;
}

.header-content a:hover {
    color: #fe68ae;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    position: relative;
}

.dropdown-icon {
    font-size: 12px;
}

.dropdown-content {
    position: absolute;
    display: flex;
    width: 270px;
    padding: 15px;
    background: #fff;
    justify-content: space-between;
    top: 50px;
    right: -100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45), -1px -1px 5px rgba(0, 0, 0, 0.45);
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
}

.dropdown-menu:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.dropdown-menu .dropdown-content li {
    display: block;
    margin: 10px 0;
}

.dropdown-menu .dropdown-header {
    width: fit-content;
    height: 25px;
    border-bottom: 1px dotted #1D3557;
}

.dropdown-menu li a {
    padding: 0;
}

.dropdown-menu li .dropdown-link:hover {
    color: #fe68ae;
    transform: scale(1.1);
}

.cart-icon {
    position: relative;
}

.cart-icon::after {
    content: "2";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    left: 10px;
    top: -9px;
}

.cart-icon:hover::after {
    top: -12px;
}

.sale-banner {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1D3557;
}

.sale-banner a {
    color: #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
}

.sale-banner a:hover {
    letter-spacing: 2px;
}

/* main Section */
.main-section {
    position: relative;
    width: 100%;
    height: 95vh;
    background: url(../images/background.png);
    background-size: cover;
}

.content-wrapper {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
}

.highlight-text {
    font-family: "Playwrite IS", serif;
    color: #FE68AE;
    font-size: 40px;
}

.main-title {
    color: #1D3557;
    font-size: 50px;
}

.description {
    width: 500px;
    font-size: 18px;
    color: #878787;
    padding: 0 20px;
    margin: 20px auto 30px;
}

.explore-button {
    background: #1D3557;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px;
    transition: 0.5s;
}

.explore-button:hover {
    border: 1px solid #1D3557;
    color: #1D3557;
    background: #fff;
}

/* services-support Styles */
.services-support .wrapper {
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
}

.icon-container {
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.icon-container i {
    font-size: 50px;
    color: #1d35574e;
    margin-bottom: 25px;
    width: 100%;
    transition-duration: 0.1s;
}

.icon-container:hover i {
    transform: translateY(-75px);
    color: #1D3557;
}

.services-support .wrapper h3, .services-support .wrapper p {
    color: #1D3557;
    margin-top: 10px;
}

/* Footer Styles */
footer {
    background: #1D3557;
    margin-top: 50px;
}

footer .wrapper {
    flex-direction: column;
    color: #fff;
}

.newsletter-section, .footer-links, .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
}

.newsletter-section {
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    gap: 40px;
}

.newsletter-section p {
    padding-top: 15px;
}

.email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter-section input {
    width: 400px;
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
}

.newsletter-section .subscribe {
    width: 150px;
    height: 50px;
    background: #FE68AE;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 15px;
}

.newsletter-section a {
    color: #c2c2c2;
    font-size: 24px;
}

.newsletter-section a:hover {
    transform: scale(1.1);
    color: #fff;
}

.footer-links {
    margin-top: 50px;
    border-bottom: 1px solid #c2c2c2;
}

.footer-links a {
    display: block;
    color: #c2c2c2;
    line-height: 2.2;
    transition: 0.5s;
}

.footer-links a:hover {
    text-decoration: underline;
    transform: scale(1.07);
}

.footer-links h3 {
    margin-bottom: 30px;
}

.footer-bottom {
    justify-content: center;
    text-align: center;
}

.footer-bottom p {
    color: #c2c2c2;
}

.footer-bottom span, .footer-bottom a {
    padding: 0 3px;
    color: #FE68AE;
}

.footer-bottom span i {
    animation: heartbeat 0.9s linear infinite alternate;
}

@keyframes heartbeat {
    0% {
        color: #000;
    }

    50% {
        transform: scale(1.3);
        color: #FE68AE;
    }

    100% {
        color: #000;
    }
}