* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: "Dancing Script", serif;
    background-color: #F5F3FF;
    color: #000;
}

.wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}

/* Header Styles */
header {
    background-color: #E6F0FF;
}

.header-wrapper {
    justify-content: space-between;
}

/* Navigation Styles */
li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

.navigation-section .nav-link {
    position: relative;
    color: #0D3B40;
}

.navigation-section .nav-link::after,
.navigation-section .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
}

.navigation-section .nav-link::after {
    width: 100%;
    height: 95%;
    border-top: 2px solid #fe68ae;
    border-bottom: 2px solid #fe68ae;
    transform: scale(0, 1);
    transform-origin: left;
}

.navigation-section .nav-link::before {
    width: 97%;
    height: 100%;
    border-left: 2px solid #fe68ae;
    border-right: 2px solid #fe68ae;
    transform: scale(1, 0);
    transform-origin: bottom;
}

.navigation-section .nav-link:hover::after,
.navigation-section .nav-link:hover::before {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
}

/* Header Link Styles */
.header-wrapper a {
    padding: 10px;
    font-size: 16px;
    color: #0D3B40;
}

.header-wrapper a:hover {
    color: #fe68ae;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    position: relative;
}

.dropdown-icon {
    font-size: 12px;
}

.dropdown-content {
    position: absolute;
    display: flex;
    width: 270px;
    padding: 15px;
    background: #fff;
    justify-content: space-between;
    top: 50px;
    right: -100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45), -1px -1px 5px rgba(0, 0, 0, 0.45);
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
}

.dropdown-menu:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.dropdown-menu .dropdown-content li {
    display: block;
    margin: 10px 0;
}

.dropdown-menu .dropdown-header {
    width: fit-content;
    height: 25px;
    border-bottom: 1px dotted #1D3557;
}

.dropdown-menu li a {
    padding: 0;
}

.dropdown-menu li .dropdown-link:hover {
    color: #fe68ae;
    transform: scale(1.1);
}

.cart-icon {
    position: relative;
}

.cart-icon::after {
    content: "2";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    left: 10px;
    top: -9px;
}

.cart-icon:hover::after {
    top: -12px;
}

.sale-banner {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1D3557;
}

.sale-banner a {
    color: #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
}

.sale-banner a:hover {
    letter-spacing: 2px;
}

/* main Section */
.main-section {
    position: relative;
    width: 100%;
    height: 95vh;
    background: url(../images/background.png);
    background-size: cover;
}

.content-wrapper {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
}

.highlight-text {
    font-family: "Playwrite IS", serif;
    color: #FE68AE;
    font-size: 40px;
}

.main-title {
    color: #1D3557;
    font-size: 50px;
}

.description {
    width: 500px;
    font-size: 18px;
    color: #878787;
    padding: 0 20px;
    margin: 20px auto 30px;
}

.explore-button {
    background: #1D3557;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px;
    transition: 0.5s;
}

.explore-button:hover {
    border: 1px solid #1D3557;
    color: #1D3557;
    background: #fff;
}

/* Digital Services style */
.digital-services .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.digital-services .wrapper .service-item {
    position: relative;
    width: 330px;
    height: 330px;
    margin: 50px 0 100px 0;
    background-color: #fff;
    padding: 10px 10px 70px 10px;
    overflow: hidden;
}

.digital-services .wrapper .service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, #729fde, #729fde02);
    bottom: 0;
    left: 0;
    z-index: 1;
}

.digital-services .wrapper .service-item img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.service-item:hover img {
    transform: scale(1.1);
}

.service-item .service-description {
    position: absolute;
    width: 100%;
    height: 30%;
    text-align: center;
    bottom: 0;
    left: 0;
    transform: translateY(40px);
    transition: 1s;
    z-index: 2;
}

.service-item:hover .service-description {
    transform: translateY(0px);
}

.service-item .service-description h2 {
    color: #1D3557;
    margin: 15px 0;
}

.service-item .service-description a {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

.service-item .service-description a:hover {
    letter-spacing: 1px;
}


/* Digital Solutions style */
.digital-solutions {
    position: relative;
    width: 85%;
    margin: auto;
    margin-top: 70px;
}

.solutions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #1d3557ae;
}

.solutions h2 {
    font-size: 30px;
    color: #1D3557;
    font-weight: bold;
}

.solutions a {
    margin-left: 20px;
    color: #1D3557;
    font-size: 20px;
    height: 60px;
}

.solutions .link-select {
    color: #FE68AE;
    border-bottom: 4px solid #FE68AE;
}

.solution-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solution-items .item {
    position: relative;
    width: 24%;
    height: 450px;
    text-align: center;
    margin-top: 50px;
    perspective: 1000px;
}

.solution-items .item img {
    width: 100%;
    height: 80%;
}

.solution-items .item a {
    padding: 10px 0;
    font-size: 20px;
    color: #1D3557;
}

.solution-items .item:hover a {
    color: #FE68AE;
}

.solution-items .item p {
    font-size: 18px;
    color: #1d355757;
}

.solution-items .item p span {
    text-decoration: line-through;
    margin-left: 10px;
}

.solution-items .item:hover p {
    color: #1D3557;
}

.solution-items .item:hover p span {
    color: #1d3557a2;
}

.solution-items .item .icon {
    position: absolute;
    display: flex;
    width: 60%;
    height: 10%;
    top: 65%;
    left: 53%;
    transform: translateX(-50%);
    z-index: 2;
}

.solution-items .item .icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    color: #1D3557;
    background-color: #fff;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: all 1s;
}

.solution-items .item:hover .icon a {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.solution-items .item .icon a:hover {
    background: #FE68AE;
    color: #fff;
}

.solution-items .item::after {
    content: "";
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/featuredhover.png);
    background-size: cover;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 1s;
    transform-style: preserve-3d;
}

.solution-items .item:hover::after {
    transform: rotateY(0deg);
}

.carousel-nav {
    position: absolute;
    font-size: 25px;
    color: #1d3557ae;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav:hover {
    color: #1D3557;
}

.carousel-nav.left {
    left: -2%;
}

.carousel-nav.right {
    right: -2%;
}


/* Customer Testimonials style */
.customer-testimonials {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    background-color: #E6F0FF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 0.4);
}

.customer-testimonials h2 {
    font-size: 30px;
    color: #1D3557;
}

.customer-testimonials>p {
    width: 50%;
    font-size: 20px;
    color: #1d3557ae;
    line-height: 1.5;
    text-align: center;
}

.testimonial-item {
    display: flex;
    align-items: center;
}

.testimonial-item img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.customer-info {
    margin-left: 10px;
}

.customer-info h3 {
    color: #1D3557;
    padding-bottom: 5px;
}

.customer-info p {
    font-size: 15px;
    color: #1d3557ae;
    font-weight: bold;
}

.customer-testimonials .carousel-nav.left {
    left: 10%;
}

.customer-testimonials .carousel-nav.right {
    right: 10%;
}

/* Recommended Products style */
.recommended-products h2 {
    text-align: center;
    font-size: 30px;
}

.recommended-products .solution-items .item {
    overflow: hidden;
}

.recommended-products .solution-items .item::after {
    opacity: 0;
    transform: translateY(-75%);
}

.recommended-products .solution-items .item:hover::after {
    opacity: 1;
    transform: translateY(0);
}

/* Latest News Style */
.latest-news {
    background-color: #E6F0FF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 0.4);
    margin-top: 80px;
}

.latest-news h2 {
    text-align: center;
    font-size: 30px;
    color: #1D3557;
    padding: 35px 0;
}

.latest-news .wrapper {
    justify-content: space-between;
}

.news-card {
    width: 30%;
    height: 100%;
    perspective: 1000px;
}

.news-card img {
    width: 100%;
    height: 350px;
}

.news-card img:hover {
    transform: translateZ(20px);
}

.news-card span {
    display: block;
    color: #1d35577c;
    margin-top: 15px;
}

.news-card a {
    color: #1D3557;
    font-size: 20px;
    margin: 15px 0;
}

.news-card:hover .news-title {
    color: #fe68ae;
}

.news-card p {
    color: #1d35577c;
    font-size: 18px;
}

.news-card .read-more {
    text-decoration: underline;
    color: #1D3557;
    margin-bottom: 50px;
}

.news-card .read-more:hover {
    transform: scale(1.1);
}

/* services-support Styles */
.services-support .wrapper {
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
}

.icon-container {
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.icon-container i {
    font-size: 50px;
    color: #1d35574e;
    margin-bottom: 25px;
    width: 100%;
    transition-duration: 0.1s;
}

.icon-container:hover i {
    transform: translateY(-75px);
    color: #1D3557;
}

.services-support .wrapper h3,
.services-support .wrapper p {
    color: #1D3557;
    margin-top: 10px;
}

/* Footer Styles */
footer {
    background: #1D3557;
    margin-top: 50px;
}

footer .wrapper {
    flex-direction: column;
    color: #fff;
}

.newsletter-section,
.footer-links,
.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
}

.newsletter-section {
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    gap: 40px;
}

.newsletter-section p {
    padding-top: 15px;
}

.email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter-section input {
    width: 400px;
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
}

.newsletter-section .subscribe {
    width: 150px;
    height: 50px;
    background: #FE68AE;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 15px;
}

.newsletter-section a {
    color: #c2c2c2;
    font-size: 24px;
}

.newsletter-section a:hover {
    transform: scale(1.1);
    color: #fff;
}

.footer-links {
    margin-top: 50px;
    border-bottom: 1px solid #c2c2c2;
}

.footer-links a {
    display: block;
    color: #c2c2c2;
    line-height: 2.2;
    transition: 0.5s;
}

.footer-links a:hover {
    text-decoration: underline;
    transform: scale(1.07);
}

.footer-links h3 {
    margin-bottom: 30px;
}

.footer-bottom {
    justify-content: center;
    text-align: center;
}

.footer-bottom p {
    color: #c2c2c2;
}

.footer-bottom span,
.footer-bottom a {
    padding: 0 3px;
    color: #FE68AE;
}

.footer-bottom span i {
    animation: heartbeat 0.9s linear infinite alternate;
}

@keyframes heartbeat {
    0% {
        color: #000;
    }

    50% {
        transform: scale(1.3);
        color: #FE68AE;
    }

    100% {
        color: #000;
    }
}